html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;

    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;

}

.container{
    max-width: 1440px;
    height: 100%;

    padding-left: 13%;
    padding-top: 8%;
  
    
    background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
    background-position: bottom right, top left;
    background-repeat: no-repeat;
    background-size: 60%, 40%;

    

}

.estatisticas{
    display: flex;
}

.title{
    width: 420px;

}

.title h1{
    width: 370px;
    font-size: 3.5rem;
    margin: 0;

    color: hsl(300, 43%, 22%);
}

.title p{
    color:  hsl(303, 10%, 53%);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.ratings{
    margin-left: 80px;
}

.rated{
    height: 50px;
    width: 370px;

    align-items: baseline;

    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;

    padding: 0 5%;
    margin: 3%;

    color: hsl(300, 43%, 22%);
    background: hsla(300, 24%, 96%, 0.678);
    font-weight: bold;

    border-radius: 6px;
}

.profiles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
    gap: 30px;
    margin-top: 50px;
}


.card{
    width: 320px;
    height: 210px;

    padding: 28px;

    box-sizing: border-box;
    border-radius: 6px;

    background: hsl(300, 43%, 22%);
    
    color: hsl(0, 0%, 100%);

}

.profile-self{
    display: flex;
    margin-bottom: 20px;
    padding-top: 15px;

}

.profile-self h4, .profile-self p{
    padding: 0;
    margin: 5px;
    margin-top: -1px;
}

.profile-self p{
    color: rgba(238, 104, 164, 0.815);
    font-weight: 500;
}

.profile-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;

    margin-right: 15px;
}

.profile-description{
    font-size: 1.2rem;
    font-weight: 500;

    color: hsla(0, 0%, 100%, 0.719);

}

#rated-2{
    margin-left: 40px;
}

#rated-3{
    margin-left: 80px;
}

#card-2{
    margin-top: 15px;
}

#card-3{
    margin-top: 30px;
}




@media (max-width:900px){
    html{
        font-size: 50%;
    }
}@media (max-width:780px){

    body{
        
        background: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
    }

    .container{
        min-width: 250px;
        height: 90%;

        background: transparent;

        margin: 0 auto;

    }

    .estatisticas{

        width: 95%;

        flex-direction: column;
        text-align: center;
        align-items: center;

        margin: 0;
        padding: 0;


    }

    .title{
        width: 80%;
        margin: 0 auto;
    }

    .title h1{
        width: auto;
        margin: 0;
        padding: 0;
    }

    
    .title p{
        font-size: 1.3rem;
        line-height: 2.3rem;
 

    }


    .ratings{
        margin: 0;
        width: 90%;

    }

    .rated{
        height: 50px;
        width: 100%;
        display: block;

        padding: 8px;

        margin: 15px;
        margin-left: 0;



    }

    #rated-2, #rated-3{
        margin-left: 0;
    }

    .profiles{
        width: 100%;
        grid-template-columns: 100%;
    }

    .card{
        width: 90%;
        margin: 10px 0;
    }

    #card-2{
        margin-top: 0;
    }

    #card-3{
        margin-top: 0;
    }

}
